.navbar-brand {
    background-color: rgb(7, 7, 7);
    color:white !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    color: moccasin;
}
.section {
    background-color:rgb(133, 175, 231);
}


.col {
    color:rgb(103, 216, 216);
}

.container {
    background-color:white;
}

main {
    margin-bottom:30px;
}

@media screen and (max-width: 576px) {
    .responsive {
        width:100%;
        height:auto;
    }
}

.navbar{
    background-color: rgb(8, 8, 8);
}
.subheader-text{
    text-align: center;
}
