.navbar-brand {
    background-color: rgb(7, 7, 7);
    color:white !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    color: moccasin;
}
/* .section {
    background-color:rgb(133, 175, 231);
} */


.col {
    color:rgb(103, 216, 216);
}

.hero{
    background-color: rgb(236, 242, 245);
}
.paragraph{
    font-style: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(248, 252, 251);
}
.paragraph2{
    font-style: Arial, sans-serif;
    font-size:18px;
    font-weight: bold;
    color: rgb(250, 253, 253);

}
main {
    margin-bottom:30px;
}

@media screen and (max-width: 576px) {
    .responsive {
        width:100%;
        height:auto;
    }
}

.navbar{
    background-color: rgb(8, 8, 8);
}
.subheader-text{
    text-align: center;
    color: rgb(58, 108, 245);
}
.card-body{
    background-color: rgb(rgb(143, 177, 209));
}
.card-title{
    color:  rgb(58, 108, 245);
}
#bio{
    background-color: rgb(60, 119, 196);
}
